@page "/home"
@using WBizTrip.Domain.Enums
@using WBizTrip.Domain.Utils
@layout TeamLayout

<div class="container-fluid align-content-center">
    <img src="/Images/poza.jpeg" class="w-100 h-100" alt="Responsive image">
    <div class="overlayText1 boldFont">Wirtek's Dream Team</div>
    <div class="overlayText2 boldFont">The IT outsourcing team that that works </div>
    <div class="overlayText3 boldFont">with you maintaining only the highest standards</div>
    <div class="overlayText4 boldFont">Commited. Involved. Proficient.</div>
</div>

