@page "/pricing"

<section>
  <div class="container py-5">

    <header class="text-center mb-5">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <h1>Product pricing table</h1>
          <p>A product by Wirtek - The Dream Team </p>
        </div>
      </div>
    </header>



    <div class="row text-center align-items-end">
      <!-- Pricing Table-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h6 text-uppercase font-weight-bold mb-4">Intern</h1>
          <h2 class="h1 font-weight-bold">199 RON<span class="text-small font-weight-normal ml-2">/ month</span></h2>

          <div class="custom-separator my-4 mx-auto bg-danger"></div>

          <ul class="list-unstyled my-5 text-small text-left">
            <li class="mb-3">
                            <i class="fa fa-check mr-2 text-primary"></i>Weekly Brunch 
                        </li>
                        <li class="mb-3">
                            <i class="fa fa-check mr-2 text-primary"></i>Family Grill 
                        </li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
              <del>No Errors Guarantee</del>
            </li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
                            <del>Unlimited PRs</del>
            </li>
          </ul>
                    <a href="/home" class="btn btn-danger btn-block p-2 shadow rounded-pill">Subscribe</a>
        </div>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h6 text-uppercase font-weight-bold mb-4">Developer</h1>
          <h2 class="h1 font-weight-bold">399 RON<span class="text-small font-weight-normal ml-2">/ month</span></h2>

          <div class="custom-separator my-4 mx-auto bg-danger"></div>

          <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
            <li class="mb-3">
                            <i class="fa fa-check mr-2 text-primary"></i>Weekly Brunch 
                        </li>
            <li class="mb-3">
                            <i class="fa fa-check mr-2 text-primary"></i> Family Grill
                        </li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> No Errors Guarantee</li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
                            <del>Unlimited PRs</del>
            </li>
          </ul>
                    <a href="/home" class="btn btn-danger btn-block p-2 shadow rounded-pill">Subscribe</a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h6 text-uppercase font-weight-bold mb-4">Mentor</h1>
          <h2 class="h1 font-weight-bold">899 RON<span class="text-small font-weight-normal ml-2">/ month</span></h2>

          <div class="custom-separator my-4 mx-auto bg-danger"></div>

          <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
            <li class="mb-3">
                            <i class="fa fa-check mr-2 text-primary"></i>Weekly Brunch 
                        </li>
            <li class="mb-3">
                            <i class="fa fa-check mr-2 text-primary"></i>Family Grill
                        </li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> No Errors Guarantee</li>
            <li class="mb-3">
                            <i class="fa fa-check mr-2 text-primary"></i>Unlimited PRs
                        </li>
          </ul>
          <a href="/home" class="btn btn-danger btn-block p-2 shadow rounded-pill">Subscribe</a>
        </div>
      </div>

    </div>
  </div>
</section>
