<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" @onclick="@ModalCancel" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="@ModalOk">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="ModalCancel">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string  Title { get; set; }
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private Task ModalCancel() {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk() {
        return OnClose.InvokeAsync(true);
    }
}